@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text{
  margin-left: auto;
  margin-right: 50px;
  span{
    color: $red;
  }
}

.header__btn{
  padding: 3px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login{
  background-color: $green;
}

.header__btn-register{
  background-color: $red;
  margin-left: 7px;
}

.header__menu{
  background-color: $bg;
}

.menu{
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
  }
}


//  Search Start

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;
}

.search__inner{
  padding: 155px 0px 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text{
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      @include f500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}


// Products Start

.products{
  background-color: $grey;
  padding: 110px 0px;
}

.product__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      outline: none;
      color: #fff;
    }
  }
}

.product__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item{
  margin-bottom: 30px;
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
 }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    @include f700;
    color: $bg;
    font-size: 18px;
    display: block;
  }
  &-category{
    color: $green;
    display: block;
  } 
  &-price{
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 70px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
      
    }
    span{
     @include f500;
    }
  }
  &-rank{
    span{
      color: $bg;
      @include f700;
    }
  }
}

.products__bottom-btn{
  text-align: center;
  button{
    margin-top: 45px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    background-color: #fff;
    color: $bg;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      outline: none;
      color: #fff;
    }
  }
}


// Slider Product

.product-slider{
  padding: 110px 0px 120px;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin: 0px 4px;
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}


// Advantages

.advantages{
  background-color: $bg;
  padding: 110px 110px;
}

.advantages__title{
  color: #fff;
}

.advantages__inner{
  display: flex;
  justify-content: space-between;
}

.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
    }
    .advantages__item-images{
      path{
        fill: #fff;
      }
    }
    .advantages__item-title{
      color: $green;
    }
  }
  &-images{
    transition: all .3s;
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title{
    transition: all .3s;
    margin-bottom: 25px;
    color: #fff;
    @include f500;
    font-size: 24px;
  }
}

// Subscribers

.subscribers{
  margin-bottom: 70px;
  min-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribers__inner{
  background-color: $green;
  max-width: 650px;
  width: 100%;
  min-height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-info{
    overflow: hidden;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin-right: 45px;
    max-width: 270px;
    span{
      @include f700;
    }
  }
  &-btn{
    font-size: 18px;
    line-height: 36px;
    color: $bg;
    button{
      border: none;
      background-color: #fff;
      padding: 20px 40px;
      cursor: pointer;
    }
  }
}

// Tutorials

.tutorials{
  margin-bottom: 120px;
}

.tutorials__inner{
  display: flex;
  justify-content: space-between;
  &-box{
    max-width: 370px;
    width: 100%;
  }
  &-img {
    min-height: 270px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-text{
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 10px;
    a{
      font-size: 24px;
      line-height: 60px;
      color: $bg;
      @include f700;
    }
  }
}

// Footer

.footer{
  background-color: $bg;
  &__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 36px;
    color: #919699;
    border-top: 1px solid #424d53;
    min-height: 70px;
  }
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 95px 0;
  color: #fff;
  &-box.info{
    max-width: 270px;
    margin-right: 70px;
  }
  &-box{
    width: 100%;
    .form{
      position: relative;
    }
    input{
      display: block;
      background-color: #2f3c43;
      height: 46px;
      width: 100%;
      padding-left: 15px;
      padding-right: 50px;
      border: none;
      color: #fff;
      &::placeholder{
        color: #697378;
        line-height: 36px;
      }
    }
    button{
      width: 43px;
      height: 46px;
      background-color: $green;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      &::after{
        content: '\f124';
        position: absolute;
        font-family: 'icomoon';
        font-size: 20px;
        color: #fff;
        right: 35%;
        top: 25%;
      }
    }
  }
  &-title{
    font-size: 22px;
    font-family: $raleway;
    padding-bottom: 30px;
    margin-bottom: 32px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
  &-info{
    font-size: 14px;
    font-family: $lato;
    padding-left: 30px;
    position: relative;
    color: #fff;
    &::before{
      content: '\e900';
      font-family: 'icomoon';
      font-size: 18px;
      color: $green;
      position: absolute;
      left: 0;
    }
    &.phone{
    margin-top: 15px;
    position: relative;
    &::before{
      content: '\f095';
    }
  }
  }
  &-link{
    a{
      padding-left: 20px;
      color: #b7c3c8;
      line-height: 36px;
      position: relative;
      &::before{
        content: '\f054';
        font-family: 'icomoon';
        font-size: 13px;
        color: $green;
        position: absolute;
        left: 0;
      }
    }
  }
  &-links.social{
    margin-bottom: 30px;
    li{
      display: inline-block;
      & + li{
      padding-left: 5px;
    }
    }
    a{
      width: 28px;
      height: 28px;
      background-image: url(../images/footer/css_sprites.png);   
    }
    .link-twitter{
      background-position: -0 -28px;
    }
    .link-youtube{
      background-position: -56px -0;
    }
    .link-pinterest{
      background-position: -28px -28px;
    }
    .link-linkedin{
      background-position: -28px -0;
    }
  }
  &-mail{
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
  }
}

